.MainSpace, .RailroadSpace {
    width: 100%;
    height: 100%;

    background-color: white;
}

.MainHud, .Tile, .Chance, .CommunityChest {
    width: 100%;
    height: 100%;
}

#HouseBox {
    width: 100%;
    height: 300px;
    background-color: white;
    border-color: black;
    border-width: 10px;
    border-style: solid;
}

.brown #HouseBox {
    background-color: brown;
}
.teal #HouseBox {
    background-color: cyan;
}
.magenta #HouseBox {
    background-color: magenta;
}
.orange #HouseBox {
    background-color: orange;
}
.red #HouseBox {
    background-color: red;
}
.yellow #HouseBox {
    background-color: yellow;
}
.green #HouseBox {
    background-color: green;
}
.blue #HouseBox {
    background-color: blue;
}




#SpaceName {
    font-size: 120;
    text-align: center;

    width: 80%;
    horizontal-align: center;
    y: 500px;

    text-transform: uppercase;
}
.ImageSpace #SpaceName,
#Chance #SpaceName,
#CommunityChest #SpaceName {
    y: 100px;
}

#Image {
    width: 700px;
    height: 700px;

    y: 600px;

    horizontal-align: center;
}

#Chance #Image, #CommunityChest #Image {
    width: 900px;
    height: 900px;
}

#PriceContainer {
    width: 40%;
    y: 1500px;
    horizontal-align: center;
}

#GoldIcon {
    background-image: url("s2r://panorama/images/hud/reborn/gold_small_psd.vtex");
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}

#SpacePrice {
    font-size: 140;
    text-align: center;
    margin-left: 160px;
}

.HasPayment #PriceContainer {
    width: 70%;
}
.HasPayment #GoldIcon {
    margin-left: 240px;
}
.HasPayment #SpacePrice {
    margin-left: 380px;
}
#PaymentText {
    font-size: 140;
    text-align: center;
}

#ExampleSpace, #CommunityChest, #Chance {
    width: 1000px;
    height: 1750px;
    /* Using a background image already in dota */
    background-color: white;

    border-color: black;
    border-width: 10px;
    border-style: solid;

    horizontal-align: center;
    vertical-align: center;
}

#ExampleCorner {
    width: 1750px;
    height: 1750px;
    /* Using a background image already in dota */
    background-color: white;

    border-color: black;
    border-width: 10px;
    border-style: solid;

    horizontal-align: center;
    vertical-align: center;
}

#CornerImage {
    width: 1000px;
    height: 1000px;

    x: 350px;
    y: 350px;

    pre-transform-rotate2d: -45deg;
}

#CornerTextAbove {
    font-size: 140;
    text-align: center;

    x: 200px;
    y: 200px;

    pre-transform-rotate2d: -45deg;

}

#CornerTextBelow {
    font-size: 140;
    text-align: center;

    x: 1200px;
    y: 1200px;

    pre-transform-rotate2d: -45deg;

}

.Hidden {
    visibility: collapse;
}

#DiceRoll {
    x: 50%;
    y: 50%;

    width: 300px;
    height: 100px;

    background-color: black;
    color: white;
}
#dice1 {
    margin-right: 50%;
    font-size: 100;
    text-align: left;
}
#dice2 {
    margin-left: 50%;
    font-size: 100;
    text-align: right;
}

#Endturn {    
    width: 500px;
    height: 100px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 20%;
}
#Endturn.Disabled .Choice {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615E ), to( #879695 ) );
}
#Endturn.Disabled .Choice:hover {
    box-shadow: none;
}
.Choice:hover {
    box-shadow: fill #414f4daa -4px -4px 8px 8px;
}
.Choice {
    vertical-align: bottom;
    width: 200px;
    height: 50px;

    background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
    background-size: 328px 50px;

    border-top: 1px solid #ffffff44;
    border-left: 1px solid #ffffff44;
    border-bottom: 1px solid #00000088;
    border-right: 1px solid #00000088;
}
.Choice Label {
    width: 100%;
    height: 60%;
    vertical-align: center;
    color: white;
    font-size: 26px;
    text-align: center;
    font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
}
#Endturn.Disabled #EndturnSelection {
    visibility: collapse;
}
#Endturn.Active #EndturnSelection {
    margin-right: 0px;
    margin-left: -50px;
    horizontal-align: left;
    hue-rotation: 220deg;
    saturation: 2;
}
#EndturnSelection {
    width: 300px;
    height: 70px;

    margin-bottom: -10px;

    margin-right: -50px;
    horizontal-align: right;
    vertical-align: bottom;

    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
    z-index: -1;
}


#RollDiceChoice {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5Aa15E ), to( #87d695 ) );
    horizontal-align: right;
}
#EndTurnChoice {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #722217 ), to( #DD4A29 ) );
    horizontal-align: left;
}


#RollDiceButton {    
    width: 500px;
    height: 100px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 20%;
}
#RollDiceButton.Disabled .Choice {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #5A615E ), to( #879695 ) );
}
#RollDiceButton.Disabled .Choice:hover {
    box-shadow: none;
}
#RollDiceButton.Disabled #RollDiceSelection {
    visibility: collapse;
}
#RollDiceButton.Active #RollDiceSelection {
    margin-right: 0px;
    margin-left: -50px;
    horizontal-align: left;
    hue-rotation: 220deg;
    saturation: 2;
}
#RollDiceSelection {
    width: 300px;
    height: 70px;

    margin-bottom: -10px;

    margin-right: -50px;
    horizontal-align: right;
    vertical-align: bottom;

    opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
    z-index: -1;
}

.TileIndicator {
    width: 100%;
    height: 100%;
    background-color: white;
}
.Indicator {
    width: 100%;
    height: 100%;

    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}
#IndicatorText {
    font-size: 200;

    horizontal-align: center;

    y: 300px;
}

#MoneyTable {
    x: 50px;
    y: 200px;

    flow-children: down;
}

.MoneyTableRow {
    background-color: blue;
    height: 80px;
    width: 300px;
    margin-bottom: 10px;
    flow-children: right;
}
.MoneyTableRow #Image {
    width: 80px;
    height: 80px;
    background-color: black;
}
.MoneyTalbeRow #Name {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 90px;
}